{% extends 'base.html.twig' %}

{% block title %}Cv index
{% endblock %}

{% block body %}
	<main>
		<h1><i class="far fa-clipboard"></i> TABLEAU DE BORD</h1>
		<h2>Hello {{ app.user.firstName}} !</h2>

		<section
			class="cv">
			{# affiche les cartes pour chaque cv de l'utilisateur #}
			{% for cv in cvs %}
				{% if app.user  and (app.user is same as(cv.userId) )%}
					<div class="card">
						<p>
							<a href="{{ path('cv_show', {'id': cv.id}) }}">{{cv.title}}</a>
						</p>

							<form method="post" action="{{ path('cv_delete', {'id': cv.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cv.id) }}">
								<button class="btn">
									<i class="far fa-trash-alt"></i>
								</button>
							</form>

						<h2>{{cv.jobCv}}</h2>

                        <p><em>{{cv.updatedAt | date('d M y')}}</em></p>

                        {% if cv.shortUrl != "" %}
                        <a href="{{ path('user_export', {'id': app.user.id, 'cv': cv.id}) }}">ADRESS SERVER{{cv.shortUrl}} <i class="fas fa-copy"></i></a>
                        {% endif %}
                        
						<div class='cv-card-links'>
							<a href="{{ path('cv_show', {'id': cv.id}) }}" class="btn  btn-edit"><i class="far fa-eye"></i></a>
							{# <a href="{{ path('cv_edit', {'id': cv.id}) }}" class="btn  btn-edit">edit</a> #}
						</div>
					</div>

				{% endif %}

			{% else %}
				<p>no records found</p>
			{% endfor %}

			{% if app.user.cvs|length < 3 %}
				<div class="card card-add">
					<a href="{{path('cv_new')}}" class="btn  btn-edit">
						<p>+</p>
					</a>
				</div>
			{% endif %}
		</section>

		{% if app.user.cvs|length == 3 %}
			<div>
				<p>Vous avez atteint votre nombre maximum de CVs disponibles en même temps gratuitement sur ce site. Pour disposer de plus de CVs
					<a href="#" class="btn">passez Premium</a>
				</p>
			</div>
		{% endif %}
	</main>
{% endblock %}
