{% extends 'base.html.twig' %}

{% block title %}Cv
{% endblock %}

{% block body %}

	<main class="show">

		{# Template 1 #}
		{% if cv.model == 1 %}

			<div class="resume-display">
				<div class="resume-info">
					<p class="resume-title">{{cv.title}}</p>
					<a class="btn btn-dasboard" href="{{path('cv_index')}}">Tableau de bord</a>
				</div>
				<div class="resume-top">
					{# Profil#}
					<div class="items user-profile">
						<ul>
							<li class="item-avatar"><img src="{{asset('assets/images/cv/' ~ cv.photo)}}" alt="Avatar"></li>
							<li class="item-job">{{cv.jobCv}}</li>
							<li class="item-text">{{cv.about}}</li>
							{# <li>{{cv.shortUrl}}</li> #}
						</ul>
						<a class="edit" href="{{ path('cv_edit', {'id': cv.id}) }}"><i class="fas fa-pencil-alt"></i></a>		
					</div>

					{# Adresse #}
					<div class="items user-adress">
						<ul>
							<li class="item-user-firstname">{{app.user.firstName}}</li>
							<li class="item-user-lastname">{{app.user.lastName}}</li>
							<li class="item-text">{{app.user.streetAdress}}</li>
							<li class="item-text">{{app.user.postCode}} {{app.user.city}}</li>
							<li class="item-text">{{app.user.phone}}</li>
							<li class="item-text">{{app.user.email}}</li>
							<li class="item-text">{{app.user.website}}</li>
						</ul>
						<a class="edit" href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
					</div>
				</div>

				{# SKills #}
				<div class="items user-skills">
					<p class="item-title">|&nbsp;Compétences</p>
						<div class="skill-container">
							{% for skill in app.user.skills %}
							<div class="skill-box">
								<p class="item-skill-icon"><i class="{{skill.icon}}"></i></p>
								<p class="item-skill">&nbsp;{{skill.skillName}}</p>
							</div>
							{% endfor %}
						</div>
						<a class="edit" href="{{ path('skills_index') }}"><i class="fas fa-pencil-alt"></i></a>
				</div>

				{# Xp #}
				<div class="items user-xp">
					<p class="item-title">|&nbsp;Carrière</p>
					{% for xp in app.user.xps %}
					<ul>
						<li class="item-text"><strong>{{xp.jobDateFrom | date('d M y')}}
						</strong>à<strong>
						{{xp.jobDateTo | date('d M y')}}
						</strong>
						<em>{{xp.jobName}}
						|
						{{xp.companyName}}
						-
						{{xp.jobLocation}}</em></li>
						<li class="item-text item-description">{{xp.jobDescription}}</li>
					</ul>
					{% endfor %}
					
					<a class="edit" href="{{ path('xp_index') }}"><i class="fas fa-pencil-alt"></i></a>
				</div>

				<div class="resume-bottom">
					{# Training #}
					<div class="items user-training">
						<p class="item-title">|&nbsp;Formation</p>
						<ul>
						{% for training in app.user.trainings %}
							<div>
								<li class="item-text">
								<strong>{{training.trainingDateFrom | date('d M y')}}
								à
								{{training.trainingDateTo | date('d M y')}}
								</strong>
								<em>
								{{training.diplomaName}}
								|
								{{training.schoolName}}
								-
								{{training.schoolLocation}}</li>
								</em>
								<li class="item-text item-description">{{training.diplomaDescription}}</li>
							</div>
							{% endfor %}
						</ul>
							<a class="edit" href="{{ path('training_index') }}"><i class="fas fa-pencil-alt"></i></a>
					</div>

					{# Hobbies #}
					<div class="items user-hobbies">
						<p class="item-title">|&nbsp;Hobbies</p>
						<ul>
							{% for hobby in app.user.hobbies %}
							<li class="item-text item-hobbies">{{hobby.icon}} {{hobby.hobbyName}}</li>
							{% endfor %}
						</ul>
						<a class="edit" href="{{ path('hobbies_index') }}"><i class="fas fa-pencil-alt"></i></a>		
					</div>
				</div>
				{# Footer #}
				<div class="items resume-footer">
					<p class="item-text item-text-footer">Ce CV a été créé avec jummmp. Rendez-vous sur jummmp.com pour en savoir plus.</p>
				</div>
			</div>

		{% endif %}

		{# Template 2 #}
		{% if cv.model == 2 %}

			<div class="resume-display">
				<div class="resume-info">
					<p class="resume-title">{{cv.title}}</p>
					<a class="btn btn-dasboard" href="{{path('cv_index')}}">Tableau de bord</a>
				</div>
				<div class="resume-top">
					{# Profil#}
					<div class="items user-profile">
						<ul>
							<li class="item-avatar"><img src="{{asset('assets/images/cv/' ~ cv.photo)}}" alt="Avatar"></li>
							<li class="item-job">{{cv.jobCv}}</li>
							<li class="item-text">{{cv.about}}</li>
							{# <li>{{cv.shortUrl}}</li> #}
						</ul>
						<a class="edit" href="{{ path('cv_edit', {'id': cv.id}) }}"><i class="fas fa-pencil-alt"></i></a>		
					</div>

					{# Adresse #}
					<div class="items user-adress">
						<ul>
							<li class="item-user-firstname">{{app.user.firstName}}</li>
							<li class="item-user-lastname">{{app.user.lastName}}</li>
							<li class="item-text">{{app.user.streetAdress}}</li>
							<li class="item-text">{{app.user.postCode}} {{app.user.city}}</li>
							<li class="item-text">{{app.user.phone}}</li>
							<li class="item-text">{{app.user.email}}</li>
							<li class="item-text">{{app.user.website}}</li>
						</ul>
						<a class="edit" href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
					</div>
				</div>

				{# SKills #}
				<div class="items user-skills">
					<p class="item-title">|&nbsp;Compétences</p>
						<div class="skill-container">
							{% for skill in app.user.skills %}
							<div class="skill-box">
								<p class="item-skill-icon"><i class="{{skill.icon}}"></i></p>
								<p class="item-skill">&nbsp;{{skill.skillName}}</p>
							</div>
							{% endfor %}
						</div>
						<a class="edit" href="{{ path('skills_index') }}"><i class="fas fa-pencil-alt"></i></a>
				</div>

				{# Xp #}
				<div class="items user-xp">
					<p class="item-title">|&nbsp;Carrière</p>
					{% for xp in app.user.xps %}
					<ul>
						<li class="item-text"><strong>{{xp.jobDateFrom | date('d M y')}}
						</strong>à<strong>
						{{xp.jobDateTo | date('d M y')}}
						</strong>
						<em>{{xp.jobName}}
						|
						{{xp.companyName}}
						-
						{{xp.jobLocation}}</em></li>
						<li class="item-text item-description">{{xp.jobDescription}}</li>
					</ul>
					{% endfor %}
					
					<a class="edit" href="{{ path('xp_index') }}"><i class="fas fa-pencil-alt"></i></a>
				</div>

				<div class="resume-bottom">
					{# Training #}
					<div class="items user-training">
						<p class="item-title">|&nbsp;Formation</p>
						<ul>
						{% for training in app.user.trainings %}
							<div>
								<li class="item-text">
								<strong>{{training.trainingDateFrom | date('d M y')}}
								à
								{{training.trainingDateTo | date('d M y')}}
								</strong>
								<em>
								{{training.diplomaName}}
								|
								{{training.schoolName}}
								-
								{{training.schoolLocation}}</li>
								</em>
								<li class="item-text item-description">{{training.diplomaDescription}}</li>
							</div>
							{% endfor %}
						</ul>
							<a class="edit" href="{{ path('training_index') }}"><i class="fas fa-pencil-alt"></i></a>
					</div>

					{# Hobbies #}
					<div class="items user-hobbies">
						<p class="item-title">|&nbsp;Hobbies</p>
						<ul>
							{% for hobby in app.user.hobbies %}
							<li class="item-text item-hobbies">{{hobby.icon}} {{hobby.hobbyName}}</li>
							{% endfor %}
						</ul>
						<a class="edit" href="{{ path('hobbies_index') }}"><i class="fas fa-pencil-alt"></i></a>		
					</div>
				</div>
				{# Footer #}
				<div class="items resume-footer">
					<p class="item-text item-text-footer">Ce CV a été créé avec jummmp. Rendez-vous sur jummmp.com pour en savoir plus.</p>
				</div>
			</div>

		{% endif %}

		{# Template 3 #}
		{% if cv.model == 3 %}

			<div class="resume-display">
				<div class="resume-info">
					<p class="resume-title">{{cv.title}}</p>
					<a class="btn btn-dasboard" href="{{path('cv_index')}}">Tableau de bord</a>
				</div>
				<div class="resume-top">
					{# Profil#}
					<div class="items user-profile">
						<ul>
							<li class="item-avatar"><img src="{{asset('assets/images/cv/' ~ cv.photo)}}" alt="Avatar"></li>
							<li class="item-job">{{cv.jobCv}}</li>
							<li class="item-text">{{cv.about}}</li>
							{# <li>{{cv.shortUrl}}</li> #}
						</ul>
						<a class="edit" href="{{ path('cv_edit', {'id': cv.id}) }}"><i class="fas fa-pencil-alt"></i></a>		
					</div>

					{# Adresse #}
					<div class="items user-adress">
						<ul>
							<li class="item-user-firstname">{{app.user.firstName}}</li>
							<li class="item-user-lastname">{{app.user.lastName}}</li>
							<li class="item-text">{{app.user.streetAdress}}</li>
							<li class="item-text">{{app.user.postCode}} {{app.user.city}}</li>
							<li class="item-text">{{app.user.phone}}</li>
							<li class="item-text">{{app.user.email}}</li>
							<li class="item-text">{{app.user.website}}</li>
						</ul>
						<a class="edit" href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
					</div>
				</div>

				{# SKills #}
				<div class="items user-skills">
					<p class="item-title">|&nbsp;Compétences</p>
						<div class="skill-container">
							{% for skill in app.user.skills %}
							<div class="skill-box">
								<p class="item-skill-icon"><i class="{{skill.icon}}"></i></p>
								<p class="item-skill">&nbsp;{{skill.skillName}}</p>
							</div>
							{% endfor %}
						</div>
						<a class="edit" href="{{ path('skills_index') }}"><i class="fas fa-pencil-alt"></i></a>
				</div>

				{# Xp #}
				<div class="items user-xp">
					<p class="item-title">|&nbsp;Carrière</p>
					{% for xp in app.user.xps %}
					<ul>
						<li class="item-text"><strong>{{xp.jobDateFrom | date('d M y')}}
						</strong>à<strong>
						{{xp.jobDateTo | date('d M y')}}
						</strong>
						<em>{{xp.jobName}}
						|
						{{xp.companyName}}
						-
						{{xp.jobLocation}}</em></li>
						<li class="item-text item-description">{{xp.jobDescription}}</li>
					</ul>
					{% endfor %}
					
					<a class="edit" href="{{ path('xp_index') }}"><i class="fas fa-pencil-alt"></i></a>
				</div>

				<div class="resume-bottom">
					{# Training #}
					<div class="items user-training">
						<p class="item-title">|&nbsp;Formation</p>
						<ul>
						{% for training in app.user.trainings %}
							<div>
								<li class="item-text">
								<strong>{{training.trainingDateFrom | date('d M y')}}
								à
								{{training.trainingDateTo | date('d M y')}}
								</strong>
								<em>
								{{training.diplomaName}}
								|
								{{training.schoolName}}
								-
								{{training.schoolLocation}}</li>
								</em>
								<li class="item-text item-description">{{training.diplomaDescription}}</li>
							</div>
							{% endfor %}
						</ul>
							<a class="edit" href="{{ path('training_index') }}"><i class="fas fa-pencil-alt"></i></a>
					</div>

					{# Hobbies #}
					<div class="items user-hobbies">
						<p class="item-title">|&nbsp;Hobbies</p>
						<ul>
							{% for hobby in app.user.hobbies %}
							<li class="item-text item-hobbies">{{hobby.icon}} {{hobby.hobbyName}}</li>
							{% endfor %}
						</ul>
						<a class="edit" href="{{ path('hobbies_index') }}"><i class="fas fa-pencil-alt"></i></a>		
					</div>
				</div>
				{# Footer #}
				<div class="items resume-footer">
					<p class="item-text item-text-footer">Ce CV a été créé avec jummmp. Rendez-vous sur jummmp.com pour en savoir plus.</p>
				</div>
			</div>

		{% endif %}


		<div class="change-template">
			<a class="btn {% if cv.model == 1 %}active{% endif %}" href="{{ path('cv_majModel', {'id': cv.id, 'model': 1}) }} ">Template 1</a>
			<a class="btn {% if cv.model == 2 %}active{% endif %}" href="{{ path('cv_majModel', {'id': cv.id, 'model': 2}) }} ">Template 2</a>
			<a class="btn {% if cv.model == 3 %}active{% endif %}" href="{{ path('cv_majModel', {'id': cv.id, 'model': 3}) }} ">Template 3</a>
			<a class="btn" href="{{ path('user_export', {'id': app.user.id, 'cv': cv.id}) }} ">Exporter</a>
		</div>

	</main>

{% endblock %}
