{% extends 'base.html.twig' %}

{% block title %}Xp{% endblock %}

{% block body %}
    <h1>Xp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ xp.id }}</td>
            </tr>
            <tr>
                <th>JobDateFrom</th>
                <td>{{ xp.jobDateFrom ? xp.jobDateFrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>JobDateTo</th>
                <td>{{ xp.jobDateTo ? xp.jobDateTo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>JobName</th>
                <td>{{ xp.jobName }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ xp.companyName }}</td>
            </tr>
            <tr>
                <th>JobLocation</th>
                <td>{{ xp.jobLocation }}</td>
            </tr>
            <tr>
                <th>JobDescription</th>
                <td>{{ xp.jobDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('xp_index') }}">back to list</a>

    <a href="{{ path('xp_edit', {'id': xp.id}) }}">edit</a>

    {{ include('xp/_delete_form.html.twig') }}
{% endblock %}
