{% extends 'base.html.twig' %}

{% block title %}jummmp - Se connecter
{% endblock %}

{% block body %}
	
	<main class="login">
		{# Section Left #}
		
		<section class="login-left">
			{# Header #}
			<header>
                <h2>Parle de&nbsp;<span class="brand-text">toi</span>,</h2>
                <h1>Fais le grand saut.</h1>
                <h3>Créé ton cv numérique rapidement et simplement avec&nbsp;<span class="bold-text">jummmp</span>, met à jour tes compétences quand tu le souhaites, emporte ta candidature partout avec toi et fais matcher ton profil avec les dernières offres d’emploi.</h3>
            </header>
		</section>

		{# Section Right #}
		<section class="login-right">
			<form class="form-login" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<div class="fl-title">
                	<img src="assets/mouse.png">
                	<h4>Connecte toi !</h4>
            	</div>
				
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox-container">
					<input class="btn-checkbox" type="checkbox" id="checkbox">
					<label class="label-checkbox" for="checkbox">Se souvenir de moi.</label>
				</div>

				{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				See https://symfony.com/doc/current/security/remember_me.html
									
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me"> Remember me
					</label>
				</div>
				#}

				<button class="btn" type="submit">
					C'est parti !
				</button>

				<div>
					<a class="utilities-password" href="#!">Mot de passe oublié ?</a>
				</div>

				<div>
					<p class="utilities-account">Pas de compte ?&nbsp;<a href="{{path('app_register')}}"><span class="signin">Inscris toi !</span></a></p>
				</div>
			</form>
		</section>
		
	</main>
		
	{% endblock %}
