{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Inscris-toi</h1>

	{{ form_start(registrationForm) }}
	<div class="mb-3">
		{{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.lastName, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.avatar, 'Avatar', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.avatar, {'attr': {'class': 'form-control pokemon'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.website, 'Site Web', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.website, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.streetAdress, 'Rue', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.streetAdress, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="mb-3">
		{{ form_label(registrationForm.postCode, 'Code Postal', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.postCode, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="mb-3">
		{{ form_label(registrationForm.city, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.city, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="mb-3">
		{{ form_label(registrationForm.phone, 'Téléphone', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="mb-3">
		{{ form_widget(registrationForm.agreeTerms) }}
		{{ form_label(registrationForm.agreeTerms, "En cochant cette case, je confirme que j'ai lu et que j'accepte la politique de confidentialité de jummmp", {'label_attr': {'class': ''}}) }}
	</div>

	<button type="submit" class="btn">C'est parti !
	</button>
	{{ form_end(registrationForm) }}
{% endblock %}