<nav class="nav-bar">

	<div class="nav-bar-logo-box">
		<img class="nav-bar-arrow" src="{{ asset('assets/logo-jummmp.png') }}" alt="logo">
		<a class="nav-bar-logo" href="{{path('app_login')}}">ummmp</a>
	</div>

	{% if app.user %}

	<section class="nav-bar-list">
		{# User #}
		<ul class="list-user">
			<li><p class="user-name">Bonjour&nbsp;<span class="user-name-brand">{{ app.user.firstName}}</span>&nbsp;!</p></li>
			<li><a href="#!"><img src="{{app.user.avatar}}" alt="avatar" class="user-avatar"></a></li>
		</ul>
		{# Menu déroulant #}
		<ul class="list-utilities hide">
			<li class="utilities"><a class="user-utilities" href="{{ path('user_edit', {'id': app.user.id}) }}">Mon profil</a></li>
			<li class="utilities"><a class="user-utilities" href="#!">Passer Premium&nbsp;<i class="fas fa-star"></i></a></li>
			<li class="utilities"><a class="user-utilities" href="{{path('app_logout')}}">Se déconnecter</a></li>
			<li class="utilities">
				<a href="#!" class="social-utilities"><i class="fab fa-facebook-square"></i></a>
				<a href="#!" class="social-utilities"><i class="fab fa-instagram"></i></a>
			</li>
		</ul>
	</section>

	{% endif %}

</nav>
