<!DOCTYPE html>
<html lang="fr">

	<head>

		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Swann Martin, Michael Krysztofiak, Thomas Barnabé">
		<meta name="description" content="Avec jummmp, créé ton CV numérique, modifie ton profil, choisis un thème et emporte ta candidature
		partout avec toi. Essai gratuit !">
		<title>{% block title %}Bienvenue!{% endblock %}</title>

		<link rel="icon" href="{{ asset('favicon.ico') }}" />

		{# Run `composer require symfony/webpack-encore-bundle`
			and uncomment the following Encore helpers to start using Symfony UX #}
		<link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/color.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/font.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/register.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/show.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/export.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/edit-form.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/footer.css') }}" type="text/css"/>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>

	<body>
	
		{{include('common/_nav.html.twig')}}
		<div class="pop"></div>
		{% block body %}{% endblock %}
		{{include('common/_footer.html.twig')}}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{{ asset('js/app.js') }}"></script>

	</body>

</html>
