{{ form_start(form) }}

<div class="edit-form-add">

	<p class="efa-title"><i class="fas fa-plus"></i>&nbsp;Ajouter une formation</p>

	<div class="edit-add-utilities">

		<div class="eau-container-xp">

			<div class="eau-content-xp">

				<div class="eau-content">
					{{ form_label(form.trainingDateFrom, 'De :', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.trainingDateFrom, {'attr': {'class': 'add-input date-input'}}) }}
				</div>
				<div class="eau-content">
					{{ form_label(form.trainingDateTo, 'A :', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.trainingDateTo, {'attr': {'class': 'add-input'}}) }}
				</div>

			</div>	

			<div class="eau-content">
				{{ form_label(form.diplomaName, 'Nom de la formation :', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.diplomaName, {'attr': {'class': 'add-input','placeholder':""}}) }}
			</div>
			<div class="eau-content">
				{{ form_label(form.schoolName, 'Centre de formation :', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.schoolName, {'attr': {'class': 'add-input','placeholder':""}}) }}
			</div>
			<div class="eau-content">
				{{ form_label(form.schoolLocation, 'Lieu :', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.schoolLocation, {'attr': {'class': 'add-input','placeholder':""}}) }}
			</div>
			<div class="eau-content">
				{{ form_label(form.diplomaDescription, 'Description :', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.diplomaDescription, {'attr': {'class': 'add-input text-area-input','placeholder':""}}) }}
			</div>
			
			</div>

		</div>
		
		<div class="edit-add-button">
			<button class="btn-save btn-edit-form"><i class="far fa-save"></i></button>
		</div>

	</div>

</div>

{{ form_end(form) }}
