{% extends 'base.html.twig' %}

{% block title %}jummmp - Liste des formations
{% endblock %}

{% block body %}

<main class="edit-form">

	<div class="edit-form-head">
			<h1>
				<i class="fas fa-user-graduate"></i>&nbsp;Formations</h1>
			<a class="btn-dashboard" href="{{ path('cv_show', {'id': app.session.get('id')}) }}">
				<i class="fas fa-undo-alt"></i>
			</a>
		</div>

	{% if trainings|length == 0 %}
		<p>Pas de formations pour le moment..?</p>
	{% else %}
		{% for training in trainings %}
			{% if app.user and (app.user is same as(training.userId) )%}
				<div class="edit-form-row">
					<ul class="edit-form-info">
						<li class="efi-name">
							De
							<em>
								{{ training.trainingDateFrom ? training.trainingDateFrom|date('M-y') : '' }}
								à
								{{ training.trainingDateTo ? training.trainingDateTo|date('M-y') : '' }}
							</em>
							-
							{{ training.diplomaName }}
							-
							{{ training.schoolName }}
							-<em>{{ training.schoolLocation }}</em>
						</li>
					</ul>

					<ul class="edit-form-utilities">

						<li>
							<a class="link-edit-form" href="{{ path('training_edit', {'id': training.id}) }}">
								<i class="fas fa-pencil-alt"></i>
							</a>
						</li>

						<form method="post" action="{{ path('training_delete', {'id': training.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training.id) }}">
							<button class="btn-edit-form btn-edit-delete">
								<i class="far fa-trash-alt"></i>
							</button>
						</form>
					</ul>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	{{ include('training/_form.html.twig') }}

</main>

{% endblock %}
