{% extends 'base.html.twig' %}

{% block title %}Training
{% endblock %}

{% block body %}
<<<<<<< HEAD
=======

>>>>>>> 8edb56c051ad7c52704704ebf4ea293beb1507e9
	<h1>Formations
		<a class="btn" href="{{ path('cv_show', {'id': app.session.get('id')}) }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</h1>

	{% for training in trainings %}
		<div class="box">
			<div class="boxLeft">
				<p>
					De
					<em>
						{{ training.trainingDateFrom ? training.trainingDateFrom|date('M-y') : '' }}
						à
<<<<<<< HEAD
						{{ training.trainingDateTo ? training.trainingDateTO|date('M-y') : '' }}
=======
						{{ training.trainingDateTo ? training.trainingDateTo|date('M-y') : '' }}
>>>>>>> 8edb56c051ad7c52704704ebf4ea293beb1507e9
					</em>
					-
					<strong>{{ training.schoolName }}</strong>
					-
					{{ training.diplomaName }}
					-<em>{{ training.schoolLocation }}</em>
				</p>
				<p>
<<<<<<< HEAD

=======
>>>>>>> 8edb56c051ad7c52704704ebf4ea293beb1507e9
					<em>
						{{ training.diplomaDescription }}</p>
				</p>
			</em>
		</div>
		<div class="box">
			<a class="btn" href="{{ path('training_edit', {'id': training.id}) }}">
				<i class="fas fa-edit"></i>
			</a>
			<form method="post" action="{{ path('training_delete', {'id': training.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ training.id) }}">
				<button class="btn">
					<i class="far fa-trash-alt"></i>
				</button>
			</form>
		</div>
	</div>
	<hr>

{% else %}

	<p>no records found</p>

{% endfor %}


<h1>
	<i class="fas fa-plus-circle"></i>
<<<<<<< HEAD
	Ajoute une nouvelle formation</h1>

{{ include('training/_form.html.twig') }}
<br>
<br>
<br>{% endblock %}
=======
	Ajoute une nouvelle expérience</h1>

{{ include('training/_form.html.twig') }}

<br>
<br>
<br>

{% endblock %}



>>>>>>> 8edb56c051ad7c52704704ebf4ea293beb1507e9
