{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <h1>Training index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TrainingDateFrom</th>
                <th>TrainingDateTo</th>
                <th>DiplomaName</th>
                <th>SchoolName</th>
                <th>SchoolLocation</th>
                <th>DiplomaDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.trainingDateFrom ? training.trainingDateFrom|date('Y-m-d') : '' }}</td>
                <td>{{ training.trainingDateTo ? training.trainingDateTo|date('Y-m-d') : '' }}</td>
                <td>{{ training.diplomaName }}</td>
                <td>{{ training.schoolName }}</td>
                <td>{{ training.schoolLocation }}</td>
                <td>{{ training.diplomaDescription }}</td>
                <td>
                    <a href="{{ path('training_show', {'id': training.id}) }}">show</a>
                    <a href="{{ path('training_edit', {'id': training.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('training_new') }}">Create new</a>
{% endblock %}
