{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Avatar</th>
                <th>StreetAdress</th>
                <th>PostCode</th>
                <th>City</th>
                <th>Phone</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.streetAdress }}</td>
                <td>{{ user.postCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.website }}</td>

                
                <td>
                    <a class="btn" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="btn" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('user_new') }}">Create new</a>
{% endblock %}
