{{ form_start(form) }}
<div class="box">
	<div class="mb-3">
		{{ form_label(form.icon, 'Choisis ton icone', {'label_attr': {'class': 'form-label'}}) }}
		<div>{{ form_widget(form.icon, {'attr': {'class': 'form-select'}}) }}</div>
	</div>

	<div class="mb-3">
		{{ form_label(form.skillName, 'Le nom de la compétence', {'label_attr': {'class': 'form-label'}}) }}
		<div>{{ form_widget(form.skillName, {'attr': {'class': 'form-control', 'placeholder' : 'Le nom de ta compétence'}}) }}</div>
	</div>


	<button class="btn">
		<i class="far fa-save"></i>
	</button>
</div>
{{ form_end(form) }}
