{{ form_start(form) }}
<div class="edit-form-add">

	<p class="efa-title"><i class="fas fa-plus"></i>&nbsp;Ajoute une compétence</p>

	<div class="edit-add-utilities">
		<div>
			{{ form_label(form.icon, 'Icône :', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.icon, {'attr': {'class': 'skills add-input icon-input','placeholder':"Choisis ton icône"}}) }}
		</div>
		<div>
			{{ form_label(form.skillName, 'Intitulé :', {'label_attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.skillName, {'attr': {'class': 'add-input skill-input','placeholder':""}}) }}
		</div>
	</div>

	<div class="edit-add-button">
		<button title="Sauvegarder le Cv" class="btn-edit-form"><i class="far fa-save"></i></button>
	</div>


</div>

{{ form_end(form) }}
