{{ form_start(form) }}
<div class="edit-form-add">

	<p class="efa-title"><i class="fas fa-plus"></i>&nbsp;Ajouter une compétence</p>

	<div class="edit-add-utilities">
		<div class="eau-inline">
			<div class="eau-flex">
				<div class="eau-content">
					{{ form_label(form.icon, 'Icône :', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.icon, {'attr': {'class': 'skills add-input icon-input','placeholder':"Ajoute une icône"}}) }}
				</div>
				<div class="eau-content">
					{{ form_label(form.skillName, 'Intitulé :', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.skillName, {'attr': {'class': 'add-input skill-input','placeholder':""}}) }}
				</div>
			</div>

			<button title="Sauvegarder le CV" class="btn-edit-form btn-save-skills"><i class="far fa-save"></i></button>

		</div>

		
	</div>

</div>

{{ form_end(form) }}
